{% extends "layout.html" %}

{% block content %}

  <div class="container">
    <div class="mt-1">
      <h1>Liked this? Have ideas?</h1>
    </div>
    <p class="lead">
      If you have ideas for features or have found bugs
      that can be fixed just let me know through
      <a href="https://github.com/mari-linhares/spotify-flask">github!</a>
      <i class="material-icons">star</i>
    </p>
    <p>If you want to chat about this project, just ping me: mariannelinharesm@gmail.com</p>
  </div>

{% endblock %}
