{% extends "layout.html" %}

{% block content %}

{% if not user %}

  <div class="container">
    <div class="mt-1">
      <h1>Profile</h1>
    </div>
    <p class="lead">Here is a copy of the core Spotify functions using Flask</p>
    <p>Also if you just want a cool python API <a href="https://github.com/mari-linhares/spotify-flask">here it is!</a></p>

    <a type="button" class="btn btn-default" href="/auth">Login</a>
  </div>

{% else %}

	<div class="container">

	  <h1> oi </h1>
	  <div class="row">

	    <div class="col-sm-6">
	      <h1 class="page-title">{{user.display_name}}</h1>

			</div>
		</div>
	</div>
{% endif %}

{% endblock %}
