{% extends "layout.html" %}

{% block content %}

{% if not user %}

  <div class="container">
    <div class="mt-1">
      <h1>Profile</h1>
    </div>
    <p class="lead">Here is a copy of the core Spotify functions using Flask</p>
    <p>Also if you just want a cool python API <a href="https://github.com/mari-linhares/spotify-flask">here it is!</a></p>

    <a type="button" class="btn btn-default" href="/auth">Login</a>
  </div>

{% else %}

	<div class="container">


	  <h1> Hi {{ user.display_name }} :) </h1>

    <hr class="half-rule"/>

	  <div class="row">
      <div class="col-sm-4">

        <section class="sec">

          {% if user.images %}
            <img src="{{user.images[0].url}}" class="img-square">
          {% else %}
            <img src="http://bit.ly/2nXRRfX" class="img-square">
          {% endif %}

          <h3>You have {{ user.followers.total }} followers!</h3>
        </section>
      </div>

      <div class="col-sm-8">

        <h3> Your playlists: </h3>
        <hr class="half-rule"/>

        {% for play in playlists %}
          <div class='row'>
            <a href="{{ play.external_urls.spotify }}">

              <div class='col-sm-8'>
                <span>{{ play.name }} </span>
              </div>

              <div class='col-sm-4'>
                {% if play.images %}
                  <img src="{{play.images[0].url}}" alt="{{play.name}}" class="img-playlist">
                {% else %}
                  <img src="http://bit.ly/2nXRRfX" class="img-search">
                {% endif %}
              </div>

            </a>
          </div>
        {% endfor %}
      </div>

    </div>
	</div>

{% endif %}

{% endblock %}
